/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.login-box{
    width: 25vw;
}

.theme-color{
    color:darkslateblue;
}

@media only screen and (max-width:767px){
    .login-box{
        width: 70vw;
    }

    .right-side{
        align-items: start !important;
        margin-top: 25px;
    }

    .left-side{
        height:55vh;
    }


}