.header-navContainer,
.header-container {
  background: linear-gradient(to right, darkslateblue 0%, rgb(96, 77, 223) 20%, rgb(159, 146, 243) 100%);
}

.logo{
  height: 85px;
  width: 200px;
}

i{
   font-size: xx-large;
}

.below-line{
  height: 5px;
  background-color: rgb(53, 45, 110);
}