<nav class="header-navContainer">
  <div
    class="container-fluid header-container row d-flex justify-content-around align-items-center"
  >
    <div class="col-lg-2 col-md-3 col-sm-6 col-6 mt-1">
      <a href="#">
        <img class="logo img-fluid" src="assets/images/LOGO.png" />
      </a>
    </div>

    <div class="col-lg-10 col-md-9 col-sm-6 col-5">
      <div class="row d-flex align-items-center">
        <div class="col-lg-5 col-md-4 col-sm-12 col-12">
          <h4 class="text-lg-start text-light d-none d-sm-block">Employee Management System</h4>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-9 col-12">
          <h4 class="text-lg-end text-light">Welcome, {{userName}}</h4>
        </div>

        <div
          class="col-lg-2 col-md-3 col-sm-3 col-12 text-lg-end"
        >
          <i class="bi bi-laptop me-4 text-light"></i>
          <i class="bi bi-box-arrow-right text-light" (click)="logout()"></i>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="below-line"></div>
